
.nav {
  background-color: #b00 !important;
}

.container-fluid {
    background-color: #b00 !important;
}

.cmu-logo > img {
  width: 350px;
  max-width: 100%; 
}

.navbar-brand {
  color: rgba(255, 255, 255, 0.9) !important;
}

svg{
    display: block;
    margin: auto;
}
    
.col-lg-5, .col-lg-7 {
display:inline-block;
width: 40%;
}

body{
    margin: 0px;
    background-color: #f2f2f2;
    font-weight: 400;
    line-height: 1.5;
}

#tree {
  background-color: #fff;
  margin: 0px;
  max-width: 960px; 
}

#explanation {
  background-color: #caebf2;
  padding: 10px !important;
  margin: 0px;
  margin-top: 0px;
  white-space: pre-wrap;
  min-width: 296px;
  min-height: 500px;

}

.container {
      display:flex;
    }

.node {
    cursor: pointer;
}

    .node circle {
        stroke-width: 3px;
    }

    .node text {
        font: 12px Helvetica;
        fill: black;
        white-space: normal;
        overflow: auto;
        display: block;
    }

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.link text {
  font: 10px Helvetica;
  fill: #CC0000;
}

.link {
    cursor:  pointer;
}

.tree {
    margin-bottom: 10px;
    overflow: auto;
    white-space: normal;
}

